@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.App {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row-reverse nowrap;
  /* flex-shrink: 0; */

  width: 100%;
  background-color: rgb(250, 250, 250);
  padding-top: 30px;
  max-width: 935px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
}

::placeholder {
  color: rgb(142, 142, 142);
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
